{% extends 'base.html.twig' %}

{% block title %}modifier_profil{% endblock %}

{% block body %}

<div class="container mt-10 ">
    <div class="error cell-10 text-center">
        {% if form_errors(UpdateProfile.pseudo) is not empty%}
            <span>Erreur sur le pseudo : {{ form_errors(UpdateProfile.pseudo, {'style': 'color: red '}) }}</span><hr>
        {% endif %}

        {% if form_errors(UpdateProfile.prenom) is not empty%}
            Erreur sur le prénom : {{ form_errors(UpdateProfile.prenom) }}<hr>
        {% endif %}

        {% if form_errors(UpdateProfile.nom) is not empty%}
            Erreur sur le nom : {{ form_errors(UpdateProfile.nom) }}<hr>
        {% endif %}

        {% if form_errors(UpdateProfile.telephone) is not empty%}
            Erreur sur le numéro de téléphone : {{ form_errors(UpdateProfile.telephone) }}<hr>
        {% endif %}

        {% if form_errors(UpdateProfile.mail) is not empty%}
            Erreur sur l'email :  {{ form_errors(UpdateProfile.mail) }}<hr>
        {% endif %}


        {% if form_errors(UpdateProfile.Password.first) is not empty%}
            Erreur sur le mot de passe : {{ form_errors(UpdateProfile.Password.first) }}<hr>
        {% endif %}

        {% if form_errors(UpdateProfile.Password.second) is not empty%}

            Erreur sur la confirmation du mot de passe : {{ form_errors(UpdateProfile.Password.second) }}<hr>
        {% endif %}

        {% if form_errors(UpdateProfile.maPhotoFileName) is not empty%}
            Erreur sur la photo : {{ form_errors(UpdateProfile.maPhotoFileName) }}<hr>
        {% endif %}


    </div>
    <fieldset class="shadowed cell-10 offset-1 bg-gray">
        <legend class="cell-3 offset-1"> <h2 class="offset-2">Mon profil</h2></legend>
        {{ form_start(UpdateProfile) }}

        <div class=" row mt-15 ">

            <div class="cell-4 ">
                <div class="offset-4">

                    {% if app.user.maPhoto is not empty %}
                        {#                    {{ app.user.maPhoto }}#}
                        {% set photo = app.user.maPhoto %}
                        <img src="{{ asset('uploads/images_participants/'~photo) }}" alt="" width="60%" height="60%">
                    {% endif %}
                </div>
            </div>

            <div class="cell-8 ">
                <div class="row mb-2">
                    {{ form_label(UpdateProfile.pseudo, null,{
                        'label_attr':{'class':'cell-sm-5 stub hight:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.pseudo,{'attr': {'class': 'cell-5 stub height:50px'}}) }}
                </div>
                <div class="row mb-2">
                    {{ form_label(UpdateProfile.prenom, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.prenom,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2 ">
                    {{ form_label(UpdateProfile.nom, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.nom,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2">
                    {{ form_label(UpdateProfile.telephone, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })

                    }}
                    {{ form_widget(UpdateProfile.telephone,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2 ">
                    {{ form_label(UpdateProfile.mail, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.mail,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2 ">
                    {{ form_label(UpdateProfile.Password.first, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.Password.first,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2 ">
                    {{ form_label(UpdateProfile.Password.second, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.Password.second,{'attr': {'class': 'cell-5 stub height:50px '}}) }}
                </div>

                <div class="row mb-2 ">
                    <label for="linked-site" class="cell-sm-5 stub height:50px"> Site de rattachement :</label>
                    <span class="cell-5 stub height:50px ">{{ app.user.site.nom }}</span>
                </div>

                <div class="row mb-2 mt-4 " >
                    {{ form_label(UpdateProfile.maPhotoFileName, null, {
                        'label_attr':{'class':'cell-sm-5 stub height:50px'}
                    })
                    }}
                    {{ form_widget(UpdateProfile.maPhotoFileName,{'attr':  {'class': 'cell-5 stub height:50px '}}) }}
                </div>

            </div>


        </div>
        <div class="row offset-5 mt-12 mb-5 ">
            <button type="submit" name="validate" class=" button success shadowed ">Enregister</button>
            <button type="reset" name="cancel" class=" button shadowed offset-1 ">Annuler</button>
        </div>


        {{ form_end(UpdateProfile) }}

    </fieldset>

</div>
{% endblock %}



