{% extends 'base.html.twig' %}


{%  block title %}Ajouter une Sortie{% endblock %}

{% block body %}
    <div class="container">
            <legend class="cell-4 offset-4 mt-2"> <h4><Strong>Afficher une sortie</Strong></h4></legend>
            <div class="row">
                <div id="partieGauche" class="cell-5 offset-1">
                    <div class="row " >
                        <span class="cell-5"><strong>Nom de la sortie :</strong></span>
                        <span>{{ sortie.nom }}</span>
                    </div>
                    <div class="row  ">
                        <span class="cell-5"><strong>date et heure de la sortie :</strong> </span>
                        <span> {{sortie.dateHeureDebut |date("d/m/Y") }}</span>
                    </div>
                    <div class="row " >
                        <span class="cell-5"><strong>Date limite d'inscription :</strong></span>
                        <span>{{ sortie.dateLimiteInscription |date("d/m/Y") }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-5"><strong>Nombre de places :</strong></span>
                        <span>{{ sortie.nbInscriptionMax }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-5" ><strong>Durée : </strong></span>
                        <span>{{ sortie.duree }} minutes</span>
                    </div>
                    <div class="row ">
                        <span class="cell-5" ><strong>Description et infos : </strong></span>
                        <span>{{ sortie.infosSortie }}</span>
                    </div>
                </div>

                <div id="partieDroite" class="cell-5 offset-1">
                    <div class="row ">
                        <span class="cell-4"><strong>Site organisateur : </strong></span>
                        <span>{{ sortie.organisateur.site.nom }}</span>
                    </div>
                    <div class="row " id="lieuDiv">
                        <span class="cell-4" ><strong>Lieu : </strong></span>
                        <span>{{ sortie.lieu.nom }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-4" ><strong>Rue : </strong></span>
                        <span>{{ sortie.lieu.rue }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-4" ><strong>Code postal : </strong></span>
                        <span>{{ sortie.lieu.ville.codePostal }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-4" ><strong>Latitude : </strong></span>
                        <span>{{ sortie.lieu.latitude }}</span>
                    </div>
                    <div class="row ">
                        <span class="cell-4" ><strong>Longitude : </strong></span>
                        <span>{{ sortie.lieu.longitude }}</span>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                {% if sortie.etat.id == 2 %}
                {% if app.user in sortie.participantsInscrit %}
                    <a class="offset-5" href="/sorties/desister/{{ sortie.id }}" style="text-decoration: none"><input  class=" button bg-red  shadowed" type="submit" name="submit" value="Se désister" ></a>
                {% else %}
                <a class="offset-5" href="/sorties/inscrire/{{ sortie.id }}" style="text-decoration: none"><input  class=" button success  shadowed" type="submit" name="submit" value="S'inscrire" ></a>
                {% endif %}
                {% endif %}

            </div>
    </div>

    <div class="container">
        <legend class="cell-4 offset-0 mt-3"> <h6><Strong>Liste des participants inscrits :</Strong></h6></legend>
        <div class="row ">
            <div id="table-outing" class="cell-12">
                <table class="table striped table-border table-container"  data-role="table" style="width:30%; margin-left:0" >
                    <thead>
                    <tr id="tr-afficherSortie">
                        <th> Pseudo</th>
                        <th> Nom</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for participant in sortie.participantsInscrit %}
                        <tr>
                            <td id="td-afficherSortie-pseudo"><a href="/participant/afficherProfil/{{ participant.pseudo }}">{{ participant.pseudo }}</a></td>
                            <td id="td-afficherSortie-nom"><a href="/participant/afficherProfil/{{ participant.pseudo }}"> {{ participant.nom }} {{ participant.prenom }} </a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="map" class="cell-5 offset-1 " style="margin-top: -300px; margin-left: 790px">
{#                <iframe  width="100%" height="300px"  src="http://u.osmfr.org/m/655908/"> </iframe>#}
            </div>
        </div>





    </div>


{% endblock %}

    {% block footer %}
{#        <p> &copy;Sortir.com, {{ 'now' | date('Y') }} </p>#}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/2.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution-ShareAlike 2.0 Generic License</a>.
    {% endblock %}

    {% block javascripts %}
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
                integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                crossorigin="">
        </script>

        <script type="text/javascript">
            // Fonction d'initialisation de la carte
            let map = document.getElementById("map");
            function initMap(lat,lon) {
                // Create object "myMap" et l'insèrer dans l'élément HTML qui a l'ID "map"
                myMap = L.map(map).setView([lat, lon], 17);
                // recover tiles from  openstreetmap.fr
                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    //lien vers la source des données
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 10,
                    maxZoom: 40
                }).addTo(myMap);
                var marker = L.marker([lat, lon]).addTo(myMap);
            }
            window.onload = function(){
                // initialisation function when the DOM is loaded
                initMap({{ sortie.lieu.latitude }},{{ sortie.lieu.longitude }});
            };
        </script>
    {% endblock %}


