{% extends 'base.html.twig' %}


{%  block title %}Ajouter une Sortie{% endblock %}

{% block body %}

    <h1>Ajouter une Sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm._token) }}
    <div>{{ form_errors(sortieForm) }}</div>
    <div id="partieGauche>">
        <div class="row">
            <div>{{ form_label(sortieForm.nom,'Nom de la sortie:') }}</div>
            <div class="input-control text">{{ form_widget(sortieForm.nom) }}</div>
        </div>
        <div class="row">
            <div>{{ form_label(sortieForm.dateHeureDebut,'date et heure de la sortie :') }}</div>
            <div >{{ form_widget(sortieForm.dateHeureDebut) }}</div>
        </div>
        <div class="row">
            <div>{{ form_label(sortieForm.dateLimiteInscription,'Date limite d\'inscription:') }}</div>
            <div>{{ form_widget(sortieForm.dateLimiteInscription) }}</div>
        </div>
        <div class="row">
            <div>{{ form_label(sortieForm.nbInscriptionMax,'Nombre de places :') }}</div>
            <div>{{ form_widget(sortieForm.nbInscriptionMax) }}</div>
        </div>
        <div class="row">
            <div>{{ form_label(sortieForm.duree,'Durée :') }}</div>
            <div>{{ form_widget(sortieForm.duree) }} minutes</div>
        </div>
        <div class="row">
            <div>{{ form_label(sortieForm.infosSortie,'Description et infos :') }}</div>
            <div>{{ form_widget(sortieForm.infosSortie) }} minutes</div>
        </div>
        <div id="partieDroite">
            <div class="row">
                <select name="ville" id="ville" onchange="showLieu()">
                    {% for ville in villes %}
                        <option value="{{ ville.id }}">{{ ville.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <select name="lieu" id="lieu">

                </select>
            </div>

        </div>
        {{ form_row(sortieForm.Publier) }}
    </div>
    {{ form_end(sortieForm,{render_rest:false}) }}
{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="{{ asset('js/ajax.js') }}" charset="utf-8"></script>
    {% endblock %}


