<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<header>
    <div class="row">
        <div class="cell no-gap">
            <img src="{{ asset('img/logoEni.jpg') }}" alt="" width="40" height="40">
        </div>
        <div class="cell no-gap" style="margin-left: -680px">
            <h3>Sortir.com</h3>
        </div>
        <div class="cell ">
            <ul class="h-menu bg-blue fg-white">
                <li><a href="/">Villes</a></li>
                <li><a href="#">Sites</a></li>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Mon Profil</a></li>
                <li><a href="#">Se déconnecter </a></li>
            </ul>
        </div>
    </div>
</header>
<main>
    {% block body%}
       <form method="POST" >
        <div class="row " style="margin-left: 100px">
            <div class="cell-sm-4 " >
                <h6>Filtrer les sorties</h6>
                <p>
                    <label for="site">Site : </label>
                    <select name="site_choise" id="site_choice">
                        <option value="1"> SAINT HERBLAIN</option>
                        <option value="2"> BEGARD</option>
                    </select>
                </p>
                <label for="search">Le nom de la sortie contient : </label>
                <input type="search" id="search" placeholder="Search..." >
                <br> <br>
                <label for="beginDate">Entre </label>
                <input type="date" id="beginDate">
                <label for="endDate"> et </label>
                <input type="date" id="endDate">
            </div>
            <div class="cell-sm-4 " style="margin-top: 80px">
                <input type="checkbox" name="organizer-outing"> Sorties dont je suis l'organisateur/trice
                <br>
                <input type="checkbox" name="registered-outing"> Sorties auxquelles je suis inscrit/e
                <br>
                <input type="checkbox" name="notRegistered-outing"> Sorties auxquelles je ne suis pas inscrit/e
                <br>
                <input type="checkbox" name="past-outing"> Sorties passées
            </div>
            <div class="cell-sm-4" style="margin-top: 60px">
                <button type="submit">
                    Rechercher
                </button>
            </div>

        </div>
       </form>

        <div id="table-outing">
            <table class="table striped table-border scroll"  data-role="table"
                   style="width:80%; margin:auto" >
                <thead>
                <tr>
                    <th> Nom de la sortie</th>
                    <th> Date de la sortie</th>
                    <th> Cloture</th>
                    <th> inscrits/places</th>
                    <th> Etat</th>
                    <th> Inscrit</th>
                    <th> Organisateur</th>
                    <th > Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                <tr>

                    <td > {{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut |date("d/m/Y H:i")}} </td>
                    <td>{{ sortie.dateLimiteInscription |date("d/m/Y") }}</td>
                   <td>0/{{ sortie.nbInscriptionMax }}</td>
                       <td>{{ sortie.etat.libelle }}</td>
                     <td>autre choses</td>
                     <td>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }} </td>
                    <td><a href=#>Afficher</a> </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    {% endblock %}
</main>

<div class="row"
>
    <div class="cell-3 offset-4"><form></form> </div>
</div>

<footer>
    <p> &copy;Sortir.com, {{ 'now' | date('Y') }} </p>
</footer>

</body>
</html>
