<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        {% block title %}{% endblock %}
    </title>
    <base href="http://127.0.0.1:8000/">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/map.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>

    {% endblock %}


</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="cell-1">
                <img src="{{ asset('img/logoEni.jpg') }}" alt="logo ENI" width="40" height="40">

            </div>
            <div class="cell-7">
                <h2>Sortir.com</h2>
            </div>
            <div class="cell-4 d-flex flex-row-r">
                <ul class="h-menu">
                    {% if app.user.administrateur %}
                        <li><a href="/">Villes</a></li>
                        <li><a href="#">Sites</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_participant_mon_profil') }}">Mon Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Se déconnecter </a></li>
                </ul>
            </div>
        </div>

    </div>
</header>

<main>
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-error">
            {{ message }}
        </div>
    {% endfor %}
    {% block body%}

    {% endblock %}
</main>

<div class="row"
>
    <div class="cell-3 offset-4"><form></form> </div>
</div>

<footer>
{% block footer %}
            <p> &copy;Sortir.com, {{ 'now' | date('Y') }} </p>
{% endblock %}
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
